node_modules/
.DS_Store
build/
yarn.lock
package-lock.json
coverage/
experimental/
node_modules*/
test/result*
spec/*.sqlite
*.tgz
.pnpm-store/
pnpm-lock.yaml
./.vscode/*.csv
./.vscode/*.json
./.vscode/rsdt_address.*
.vscode/result.*
db/
.clinic/
log.txt
.dockerignore
Dockerfile
